@import "variable";

.main_header {
  border-bottom: 1px solid #cad1e2;
  flex-direction: column;

  &-order_wrap {
    flex-direction: column;
  }

  &-order {
    border-bottom: 1px solid #cad1e2;

    .main_header-order-title {
      align-items: center;
      justify-content: center;

      h6 {
        font-size: 1.3em;
      }
    }

    .main_header-order-details {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 3%;
      font-size: .8em;

      .main_header-order_items {
        margin: 10px 20px;
        text-align: center;
      }

      .main_header-order_items > p {
        text-transform: uppercase;
        font-weight: bold;
      }

      .main_header-order_items > span {
        color: $secFontColor;
      }
    }
  }

  &-order-confirm {
    justify-content: space-around;
    border-bottom: 1px solid #cad1e2;
  }

  &-help_center {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: .7em;
      text-align: justify;
    }
  }
}
