@import "variable";

.main_header {
  border-bottom: 1px solid #cad1e2;
  flex-direction: column;

  &-order_wrap {
    flex-direction: column;
  }

  .icon {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
    margin-right: 1em;

  }

  &-order {
    border-bottom: 1px solid #cad1e2;

    .main_header-order-title {
      align-items: center;
      justify-content: center;

      h6 {
        font-size: 1.3em;
      }
    }

    .main_header-order-details {
      display: flex;
      //flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 3%;
      font-size: .8em;

      .main_header-order_items {
        margin: 10px 20px;
        text-align: center;
      }

      .main_header-order_items > p {
        text-transform: uppercase;
        font-weight: bold;
      }

      .main_header-order_items > span {
        color: $secFontColor;
      }
    }
  }

  &-order-confirm {
    justify-content: space-around;
    border-bottom: 1px solid #cad1e2;

    .main_header-btn {
      display: inline-block;
      width: 45%;
      max-width: 200px;
      padding: 1em 0;
      border-radius: 5px;
      text-align: center;
      font-size: .8em;
      font-weight: bold;
      cursor: pointer;
    }

    .main_header-btn:hover {
      box-shadow: 0 0 2px 2px  $activeColor;
    }

    .btn-place {
      border: 1px solid #53aeab;
      background: #5ecbc8;
      color: #ffffff;
    }

    .btn-print {
      border: 1px solid #a6adc7;
      background: #f7f7fa;
      color: #a6adc7;
    }
  }

  &-help_center {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: .7em;
      text-align: justify;
    }
  }
}
