@import "variable";

.type_doc-wrap {
  justify-content: space-around;
  width: 90%;
  text-align: center;
}

.type_doc-input_wrap {
  height: 20vh;
  box-sizing: border-box;
}

.title {
  border-bottom: 1px solid $border;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 3rem 0 3rem;;
  letter-spacing: 3px;
}

.btn-file {
  display: none;
}

.btn-file + label {
  box-sizing: border-box;
  justify-content: center;
  width: 30%;
  border: 1px solid $border;
  border-radius: 5px;
  position: relative;
}

.btn-file + label .btn-web {
  background: url("../image/web-page.png") no-repeat;
}

.label-type-doc {
  margin-bottom: 10px;
  font-size: .5em;
  color: $mainFontColor;
  font-weight: bold;
  white-space: nowrap;
}

.btn-file + label .btn-doc {
  background: url("../image/document.png") no-repeat;
}

.btn-file + label .btn-soc {
  background: url("../image/social.png") no-repeat;
}

.btn-file + label .btn-span {
  display: inline-block;
  height: 6vh;
  width: 50%;
  margin: 10px 10px 0;
  position: relative;
  background-size: contain;
  background-position-x: center;
  cursor: pointer;
}

.btn-file:checked + label:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ffffff url('../image/check-mark.svg');
  background-size: cover;
}

.btn-file:checked + label {
  border: 3px solid $activeColor;
}
