@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import "variable";
@import "headerStyle";
@import "mainHeaderStyle";
@import "selectDocTypeStyle";
@import "uploadSectionStyle";

* {
  margin: 0;
  padding: 0;
  color: $mainFontColor;
}

html, body {
  font-size: 14px;
  margin-bottom: 200px;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
  padding: 0;
  color: $mainFontColor;
  text-transform: uppercase;
}

.icon {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  margin-right: 1em;
}

  .br-3 {
  border: 1px solid $border;
  border-radius: .33rem;
}

.btn-hover:hover {
  box-shadow: 0 0 2px 2px  $activeColor;
}

.title-list-wrap {
  font-size: 1em;
}

.title-list-num {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 1rem;
  font-weight: bold;
  border: 1px solid #d8dae1;
  border-radius: 50%;
}

.title-list-item {
  border: none;
  margin: 0;
  font-size: .7em;
  letter-spacing: normal;
}

a, a:hover, a:visited {
  text-decoration: none;
  text-transform: none;
  color: $mainFontColor;
}

body {
  background-color: #edeff4;
}

.main {
  background-color: #fff;
  border: 1px solid #cad1e2;
}

