@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import "variable";
@import "headerStyle";
@import "mainHeaderStyle";
@import "selectDocTypeStyle";
@import "uploadSectionStyle";
@import "selectLanguageStyle";
@import "desiredSectionStyle";
@import "tellUsSectionStyle";

* {
  margin: 0;
  padding: 0;
  color: $mainFontColor;
}

html, body {
  font-size: 14px;
  margin-bottom: 200px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: $mainFontColor;
}

.icon {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  margin-right: 1rem;
}

.br-3 {
  border: 1px solid $border;
  border-radius: .33rem;
}

.btn-hover:hover {
  box-shadow: 0 0 2px 2px $activeColor;
}

.title-list-wrap {
  font-size: 1em;
  margin-bottom: 1em;
}

.title-list-num {
  min-height: 2.2rem;
  min-width: 2.2rem;
  margin-right: 1rem;
  font-weight: bold;
  border: 1px solid #d8dae1;
  border-radius: 50%;
}

.title-list-item {
  border: none;
  margin: 0;
  font-size: .7em;
  letter-spacing: normal;
}

a, a:hover, a:visited {
  text-decoration: none;
  text-transform: none;
  color: $mainFontColor;
}

body {
  background-color: #edeff4;
}

.main {
  background-color: #fff;
  border: 1px solid #cad1e2;
}

.wrap-for-too-section {
  flex-direction: column;

}


.btn {
  width: 40%;
  max-width: 200px;
  padding: 1em 0;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #a6adc7;
  background-color: $bcgColor;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: $secFontColor;
}

.main-btn {
  margin-right: 1rem;
  border-color: #53aeab;
  background-color: #5ecbc8;
  color: #ffffff;
}


@media screen and (min-width: 501px){
  .wrap-for-too-section {
    flex-direction: row;
  }
}
